{% load static %}
<html>
<script src = "{%static "jquery/jquery.js" %}"></script>
<script src = "{%static "js/bootstrap.min.js" %}"></script>
<link href="{%static "jquery-ui.css" %}" rel="stylesheet">
<link href="{%static "css/bootstrap.min.css" %}" rel="stylesheet">
<script src = "{%static "jquery-ui.js" %}"></script>
<style>
	body{
		font-family: "Trebuchet MS", sans-serif;
		margin: 50px 100px 100px 100px;
		min-width: 500px;
	}
	.options{
		text-align:right;
		cursor: pointer;
		display: inline-block;
	}
	.container{
		margin-top: 3%;
		padding-left:5%;
		border-bottom: 1px dotted grey;
	}
	.leaderboard{
		
		border-radius: 5px;
	}

	.header h1{
		color:#2A2AD8;
	}
	a{
		color:#000;
	}
	</style>
{% if login_id %}
		<title>Leaderboards</title>
	{% else %}
		<title>Quiz App</title>
{% endif %}
<div class="header">
<h1>Student's Quiz System</h1>
<div class="ui-widget" style="border-bottom: 1px dotted grey;">
	<div style="float:left;font-weight:bold">Quizes will be conducted here and you can check leaderboards</div>
		<div class="pull-right">
	{% if login_id == None %}
		<a class="btn options btn-info" href='/'>Home</a>
		<div class="btn btn-success options" id="login">Login Here</div>
		<div class="btn btn-warning options" id="register">Register</div>
		{% else %}
		<a href="{{logged_user}}" class="btn btn-success">Home</a>
		<div class="btn btn-warning" id="logout">Logout</div>
	{% endif %}
		</div>
	<br></br>
</div>
</div>
<div class="container">
	
	<div class="row">
		<div class="col-md-6 leaderboard">
			<h4> City Leaderboard </h4>
			<table class="table table-striped table-bordered">
				<thead>
				<tr>
					<th>Student</th>
					<th>School</th>
					<th>City</th>
					<th>Quiz</th>
					<th>Score</th>
				</tr>
				</thead>
				{% for row in leaders %}
				<tr>
					<td>{{row.student_name}}</td>
					<td>{{row.school_name}}</td>
					<td>{{row.city_name}}</td>
					<td>{{row.quiz_name}}</td>
					<td>{{row.score}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-md-6 leaderboard">
			<h4> School Leaderboard</h4>
			{% for school in school_leaders %}
			<table class="table table-striped table-bordered bg-warning">
				<thead>
				<tr>
					<th>Student</th>
					<th>School</th>
					<th>Quiz</th>
					<th>Score</th>
				</tr>
				</thead>
				{% for row in school %}
				<tr>
					<td>{{row.student_name}}</td>
					<td>{{row.school_name}}</td>
					<td>{{row.quiz_name}}</td>
					<td>{{row.score}}</td>
				</tr>
				{% endfor %}
			</table>
			{% endfor %}
		</div>
	</div>
	
</div>

<script>


$('#register').on('click',function(){
	$.ajax({
	  	url: "register",
	  	method:'GET',
	  	success:function(data){
	  		$('.container').html(data);
	  	},
	  	complete:$('.container').html('loading...')
	});
});


$('#login').on('click',function(){

	$.ajax({
	  	url: "login",
	  	method:'GET',
	  	success:function(data){
	  		$('.container').html(data);
	  	},
	  	complete:$('.container').html('loading...')
	});
});
$('#logout').on('click',function(){
	$.ajax({
  			url: "logout",
  			method:'GET',
  			success:function(data){$('body').html(data);window.location='/';},
  			complete:$('.container').html('Loggin Out...'),
  	});
});
function show_loading(){
	$('.container').html('Logging out...')
}
</script>
</html>
