<style type="text/css">
	blockquote{
		border-color:#AA6708;
		
	}
	.answer{
		padding:15px;
		width: 70%;
	}
</style>
<div class="row" id="quiz_container">
	<div>
		<h2>{{quiz_data.title}} <span class="pull-right">Score:{{score}}</span></h2> 
	</div>

	<div>
		{% for question in quiz_data.questions %}
		<blockquote>
			<p>{{question.question_text}} </p>
				{% if question.answers|length == 1 %}
					{% if question.option == question.answers.0.answer_text %}
						<p class="answer bg-success">{{question.answers.0.answer_text}} <i class="glyphicon glyphicon-ok-sign pull-right"></i></p>
					{% else %}
						<p class="answer bg-danger">{{question.option}} <i class="glyphicon glyphicon-remove-sign pull-right"></i></p>
						<p class="answer bg-success">{{question.answer.0.answer_text}} <i class="glyphicon glyphicon-ok-sign pull-right"></i></p>
					{% endif %}
				{% else %}
				{% for answer in question.answers %}
					{% if question.option == answer.id and answer.correct == False %}
						<p class="answer bg-danger"  id="radio_{{answer.question}}"  data="{{answer.id}}"><input type="radio" checked disabled> {{answer.answer_text}}<i class="glyphicon glyphicon-remove-sign pull-right"></i>
					{% elif question.option == answer.id and answer.correct == True %}
						<p class="answer bg-success"  id="radio_{{answer.question}}"  data="{{answer.id}}"><input type="radio" checked disabled> {{answer.answer_text}}<i class="glyphicon glyphicon-ok-sign pull-right"></i>
					{% elif answer.correct == True %}
						<p class="answer bg-success"  id="radio_{{answer.question}}"  data="{{answer.id}}"><input type="radio" disabled> {{answer.answer_text}}<i class="glyphicon glyphicon-ok-sign pull-right"></i>
					{% else %}
						<p class="answer "  id="radio_{{answer.question}}"  data="{{answer.id}}"><input type="radio" disabled> {{answer.answer_text}}
					{% endif %}
					</p>
					
				{% endfor %}
			{% endif %}
		</blockquote>
		{% endfor %}

		

	</div>

</div>
<script type="text/javascript">
	var student_answers = "{{student_answers}}";
	console.log(student_answers);
</script>