

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-success">{{message}}</div>
	{% endfor %}
{% endif %}
<div style="width:50%;margin-left:auto;margin-right:auto">
<form method="post" action="register" id="register_form">{% csrf_token %}
<table class="table">
{{ form.as_table }}
<tr><td></td><td><button type="submit" class="btn btn-success">Register</button></td></tr>
</table>
</form>
</div>
<script type="text/javascript">

$('#register_form').on('submit',function( event ) {
  event.preventDefault();
  $.post('register',data=$(this).serialize(),function(data){
  	$('.container').html(data);
  });
});

</script>
