{% load static %}
<html>

{% if request.session.login_id and request.session.logged_user == 'student' %}

<script src = "{%static "jquery/jquery.js" %}"></script>
<script src = "{%static "js/bootstrap.min.js" %}"></script>
<link href="{%static "jquery-ui.css" %}" rel="stylesheet">
<link href="{%static "css/bootstrap.min.css" %}" rel="stylesheet">
<script src = "{%static "jquery-ui.js" %}"></script>
<style>
	body{
		font-family: "Trebuchet MS", sans-serif;
		margin: 50px 100px 100px 100px;
		min-width: 500px;
	}
	
	.container{
		margin-top: 50px;
	}
	.row{
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	.quizes{
		padding:15px;
		border-radius: 5px;
	}
	.header h1{
		color:#2A2AD8;
	}
	a{
		color:#000;
	}
	</style>
<title>Student | {{request.session.login_id}}</title>
<div class="header">
<h1>Student's Quiz System</h1>
<div class="ui-widget" style="border-bottom: 1px dotted grey;">
	<div style="float:left;font-weight:bold">Quizes will be conducted here and you can check leaderboards</div>
		<div class="pull-right">
		<a href="" class="btn btn-success">Home</a>
		<a href="/" class="btn btn-info">Leaderboard</a>
		<button class="btn btn-warning" id="logout">Logout</button>
		</div>
	<br></br>
</div>
</div>
<div class="container">
	<div class="row">
		{% if quizes|length %}
			<div class="col-md bg-success quizes" id="messages">New Quizes are available <i class="glyphicon glyphicon-ok-sign"></i></div>
			<h3>Available Quizes</h3>
			{% for quiz_id,title in quizes.items%}
			<p class="col-md-8 bg-info quizes">
				{{title}} <button class="btn btn-primary btn-xs pull-right" onclick="take_quiz({{quiz_id}})" id="quiz_id">Take Quiz</button>
			</p>
			{% endfor %}
			
			{% else %}
				<div class="col-md-8 bg-info quizes" id="messages">No New Quizes Available</div>
			
		{% endif %}
	</div>
	<div class="row">
		{% if quizestaken|length %}
			<h3>Quizes Taken</h3>
			<table class="table table-striped">
				<tr>
					<th>#</th>
					<th>Quiz</th>
					<th>Score</th>
					<th></th>
				</tr>
				{% for quiz,val in quizestaken.items %}
						<input type="hidden" id="{{quiz}}_answers" value="{{val.2}}"></input>
						<input type="hidden" id="{{quiz}}_score" value="{{val.1}}"></input>
					<tr>
						<td>{{quiz}}</td>
						<td>{{val.0}}</td>
						<td>{{val.1}}</td>
						<td><button class="btn btn-primary btn-xs" onclick="quiz_details({{quiz}})" id="quiz_details">Details</button></td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	</div>
	<div class="row"> School Mates
	{{schoolmates}} </div>
</div>


	{% else %}
		<script type="text/javascript">
			window.location = '/'
		</script>
{% endif %}

<script type="text/javascript">
	$('#messages').delay(1000).fadeOut(1000);;

	function take_quiz(quiz_id){
		$.ajax({
  			url: "prepare_quiz",
  			method:'GET',
  			data:{'quiz_id':quiz_id,'display':'take_quiz'},
  			success:function(data){
  				$('.container').html(data);
  			},
  			complete:$('.container').html('Taking Quiz...')
		});
	}

	function quiz_details(quiz_id){
		student_answers = $('#'+quiz_id+'_answers').val();
		score = $('#'+quiz_id+'_score').val();
		
		$.ajax({
  			url: "prepare_quiz",
  			method:'GET',
  			data:{'quiz_id':quiz_id,'display':'quiz_details','student_answers':student_answers,'score':score},
  			
  			success:function(data){
  				$('.container').html(data);
  			},
  			complete:$('.container').html('Getting Quiz Details...')
		});
	}
$('#logout').on('click',function(){
	$.ajax({
  			url: "logout",
  			method:'GET',
  			success:function(data){$('body').html(data);window.location='/';},
  			complete:$('.container').html('Loggin Out...'),
  	});
});
</script>
</html>